{% extends 'shared/_layout.html' %}

{% block main_content %}
    <h1>Log in</h1>
    <!-- The above form looks like this -->
    <form action="" method="POST">
        <div class="row">
            <div class="three columns">
                <label for="Username input">Email</label>
                <input name="email" class="u-full-width" type="text" placeholder="Your email" id="emailInput"
                       value="{{ username }}">
            </div>
            <div class="three columns">
                <label for="Password input">Password</label>
                <input name="password" class="u-full-width" type="password" placeholder="Your password"
                       id="passwordInput" value="{{ password }}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="three columns">
                <input class="button-primary" type="submit" value="Submit">
            </div>
            {% if error %}
                <div class="nine columns">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </form>



    <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

    <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->

{% endblock %}