{% extends 'shared/_layout.html' %}

{% block main_content %}
    <h1>Register</h1>
    {#    <form action="" method="POST">#}
    {#        <h2>Form goes here</h2>#}
    {##}
    {#        <label>#}
    {#            Name#}
    {#            <input type="text" placeholder="Your name">#}
    {#        </label>#}
    {#        <label>#}
    {#            email#}
    {#            <input type="text" placeholder="Your email">#}
    {#        </label>#}
    {#        <label>#}
    {#            password#}
    {#            <input type="password" placeholder="Password">#}
    {#        </label>#}
    {#        <button>Register</button>#}
    {#    </form>#}

    <!-- The above form looks like this -->
    <form action="" method="POST">
        <div class="row">
            <div class="three columns">
                <label for="Name input">Your Name</label>
                <input name="name" class="u-full-width" type="text" placeholder="Your full name" id="NameInput" value="{{ name }}">
            </div>
            <div class="three columns">
                <label for="Username input">Username</label>
                <input name="username" class="u-full-width" type="text" placeholder="Your username" id="usernameInput">
            </div>
            <div class="three columns">
                <label for="Password input">Password</label>
                <input name="password" class="u-full-width" type="password" placeholder="Your password"
                       id="passwordInput">
            </div>
            <div class="three columns">
                <label for="Password input">Email</label>
                <input name="email" class="u-full-width" type="email" placeholder="Your email" id="emailInput">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="three columns">
                <input class="button-primary" type="submit" value="Submit">
            </div>
            {% if error %}
                <div class="nine columns">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </form>



    <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

    <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->

{% endblock %}