{% extends 'shared/_layout.html' %}

{% block additional_css %}
<style>
    .feed-card {
        border: 1px solid #e5e5e5;
        background-color: #fff;
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
    }

    .feed-card h3 {
        font-size: 20px;
    }

    .feed-card p {
        color: #888;
        margin-bottom: 5px; /* Reduce the margin between paragraphs */
    }
</style>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="columns">
        <h2>Fish Feed</h2>
        <a href="/fish/add" class="button-primary">Add Fish</a>
    </div>
</div>
{% for fish in fish_records %}
<div class="row">
    <div class="columns">
        <div class="feed-card">
            <a href="/fish/{{ fish.id }}"><h3>{{ fish.name }}</h3></a>
            <p>Email: {{ fish.email }}</p>
            <p>Phone number: {{ fish.phone_number }}</p>
            <p>Twitter: {{fish.twitter_profile}}</p>
            <p>Last Activity: {{ fish.last_activity.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <!-- Add other fish information as needed -->
        </div>
    </div>
</div>
{% endfor %}
<!-- Repeat the above block for each fish in your feed -->
{% endblock %}
